* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --rsp-primary: #9792E4;
    --rsp-secondary: #FFFFFF;
    --rsp-heanvenly: hsl(209, 100%, 50%);
    --rsp-light-heanvenly: #B5DDFF;
    --rsp-special: #FDC15F;
    --rsp-footer: #333333;
}

/* Utilities */

.container {
    max-width: 1152px;
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem -1rem;
}

[class^='col-'] {
    padding: 1.5rem 0.5rem;
    margin-bottom: 1rem;
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-12 {
    width: 100%;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.fa-bars {
    width: 30px;
}

.desktop_menu>a {
    margin: 2rem;
    color: var(--rsp-secondary);
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
}

.bg-white {
    background-color: white;
}

.bg-purple {
    background-color: var(--rsp-primary);
}

.bt-white {
    padding: 0.5rem;
    color: black;
    font-size: 1rem;
    border-radius: 1.5rem;
    border: none;
}

.pd-b {
    padding-bottom: 1.5rem;
}

.mg-t {
    margin-top: 2rem;
}

.m-auto {
    margin: auto;
}

.w-80 {
    width: 80%;
}

.w-40 {
    font-size: 40px;
}

.card {

    border-radius: 1rem;
    margin-bottom: 1rem;
    margin: auto;
    padding: 0 1rem;
    height: 100%;
}

.card-planning {
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin: auto;
    padding: 0 1rem;
    height: 100%;
    width: 80%;
}

.card-text>h2 {

    padding: 2rem 0;
}

.card-text>p {
    padding-bottom: 1.5rem;
}

.bt-blue {
    color: white;
    background-color: var(--rsp-heanvenly);
    padding: 0.5rem 3rem;
    font-size: 20px;
    border-radius: 1.5rem;
    border: none;
    font-family: 'PT Sans', sans-serif;
    margin: 1rem 1rem;
}

.text-white {
    color: white;
}

.text-grey {
    color: var(--rsp-footer);
}

.text-blue {
    color: var(--rsp-heanvenly);
}

.text-purple {
    color: var(--rsp-primary);
}

.fs-italic {
    font-style: italic;
}

.mobile {
    justify-content: center;
    display: flex;
}

.img-card {
    width: 65%;
    margin-top: 1rem;
}

.img-circle {
    width: 200px;
    aspect-ratio: 1;
    border-radius: 6rem;
    img
}

.fa-file-code,
.fa-compass-drafting,
.fa-laptop-code,
.fa-bullhorn {
    color: var(--rsp-heanvenly);
    font-size: 80px;
    padding-top: 2rem;
}

.bg-lightblue {
    background-color: var(--rsp-light-heanvenly);
}


.circle {
    width: 40px;
    aspect-ratio: 1;
    margin: auto;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    border-radius: 50%;
}

.border-4 {
    border-radius: 4rem;
}



.text-center {
    text-align: center;
}

.flex-center {
    justify-content: center;
}

.flex-self-center {
    align-self: center;
}


.flex {
    display: flex;
}

/* .h-75 {

    height: 75%;
    align-self: flex-end;
} */

.h-25 {

    height: 25%;

}

.w-75 {
    width: 75%;
}

.fa-quote-right,
.fa-quote-left {
    padding: 0 0.5rem;
}

.m-auto {
    margin: auto;
}

/* Mobile First */
header {
    background-color: var(--rsp-heanvenly);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

header nav>.desktop_menu {
    display: none;
}

@media screen and (min-width: 768px) {
    .d-md-none {
        display: none;
    }

    .d-md-block {
        display: block;
    }

    .col-md-4 {
        width: calc(100% / 12 * 4);
    }

    .col-md-6 {
        width: calc(100% / 12 * 6);
    }

    .col-md-8 {
        width: calc(100% / 12 * 8);
    }

    .col-md-12 {
        width: 100%;
    }

    .img-card {
        width: 60%;
    }

    .mobile {
        justify-content: left;
    }

    .flex-left {
        justify-content: left;
    }

    .flex-right {
        align-items: right;
    }

    .text-left {
        text-align: left;
    }

    .flex-tablets {
        display: flex;
    }

    .flex-tablets {
        display: flex;
    }

    .m-l {
        margin-left: 2rem;
    }

    .m-b {
        margin-bottom: 1rem;
    }

    .mg-t {
        margin-top: 2rem;
    }


}

@media screen and (min-width: 1024px) {
    header nav>.mobile_menu {
        display: none;
    }

    header nav>.desktop_menu {
        display: block;
    }

    .img-card {
        width: 50%;
        margin-top: 1rem;
    }

    .flex-left {
        justify-content: left;
    }

    .flex-right {
        justify-content: right;
    }

    .flex-tablets {
        display: flex;
    }

    .mg-t {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1400px;
    }

    .d-lg-block {
        display: block;
    }

    .card {
        display: flex;
    }

    .col-lg-6 {
        width: calc(100% / 12 * 6);
    }

    .col-lg-12 {
        width: 100%;
    }

    .img-card {
        width: 85%;
        padding-top: 4rem;
    }

    .flex-left {
        justify-content: left;
    }

    .flex-right {
        justify-content: right;
    }

    .text-left {
        text-align: left;
    }

    .flex-tablets {
        display: flex;
    }

    .mg-t {
        margin-top: 2rem;
    }

}